@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary : #12345b;
}

body {
    background-color: #eee;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section{
    padding: 15px 0;
}

h2{
    margin: 30px 0 20px;
    font-weight: 500;
    font-size: 2rem;
    padding: 10px;
}

.h2-normal{
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.buttonStyle,
.StyledLink{
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.buttonStyle svg,
.StyledLink svg{
    height: 16px;
    margin-right: 5px; 
}

.buttonStyle .white{
    background-color: #fff;
    color: #000; 
}

.bold{
    font-weight: bold
}

.outline{
    background-color: transparent;
    color: #fff; 
    border: 1px solid #fff;
}

.primary{
    color: #fff;
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.black{
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.block{
    display: block;
    width: 100%;
}

.center{
    max-width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}


/* header */

header{
    background-color: #222; 
    position: sticky;
    top: 0;
    left: 0;
}

.Wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.Logo{
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

.StyledNav{
    display: flex;
    gap: 15px;
}
.NavLink{
    color: #aaa;
    text-decoration: none;
    display: block;
}

.nav-button{
    display: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 0;
    color:white;
    cursor: pointer;
    position: relative;
    z-index: 3;
}



/* Featured Product */
.Title-h1{
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
}

.Bg{
    background-color: #222; 
    color: white;
    padding: 50px 0;
}

.ColumnsWrapper{
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    gap: 40px;
}

.ColumnsWrapper img{
    max-width: 100%;
}

.Column{
    display: flex;
    align-items: center; 
}

.Desc{
    color: #aaa;
    font-size:.8rem;
}

/* New Products */

.ProductsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
}

.ProductWrapper{
    border: 1px solid #eee;
    background-color: #ccc9c9;
    padding: 20px 10px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
}

.WhiteBox{
    background-color: #fff;
    padding: 20px;
    height: 120px;
    text-align: center; 
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;
}

.WhiteBox img{
    max-width: 100%;
    max-height: 100px;
}

.ProductInfoBox{
    margin-top: 5px;
}

.Title {
    font-weight: normal;
    font-size: .9rem;
    color: inherit; 
    margin: 0;
    text-decoration: none;
}

.PriceRow{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 2px;
}

.price{
    font-size: 1.5rem;
    font-weight: bold;
}


.ButtonsWrapper {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

/* All Products */
.category-label{
    color: #12345b;
    font-weight: 500;
}

.category-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.category-buttons button{
    padding: 7px;
    border: 1px solid #eee;
    background-color: #ccc9c9;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.category-buttons button:hover{
    background-color: #12345b;
    color: #fff;
    border: 1px solid #fff;
}

/* Cart Page */

.cart-columns-wrapper{
    display: grid;
    grid-template-columns: 1.3fr .7fr;
    gap: 14px;
    margin-top: 10px;
}

.box{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
}

.styled-table{
    width: 100%;
}

.styled-table th{
    text-align: left;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 600;
    font-size: .7rem;
}

.styled-table td{
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0 ,0, 0.1);
}

.product-image-box{
    width: 80px;
    height: 80px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-box img{
    max-width: 60px;
    max-height: 60px;
}

.quantity-label{
    padding: 0 3px;
}

.input-styled{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px ;
    box-sizing: border-box;
}

.input-styled:focus{
    border-color: var(--primary);
}

.city-holder{
    display: flex;
    gap: 5px;
}

/* Single Product Page */

.col-wrapper{
    display: grid;
    grid-template-columns: .7fr 1.3fr;
    gap: 14px;
    margin-top: 10px;
}

.box-transparent{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);

}

.Big-image-div{
    text-align: center;
}

.Big-image{
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.Image-buttons{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 15px;
}

.image-button{
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    padding: 3px;
    cursor: pointer;
}

.image-button img{
    max-height: 47px;
}

.image-button.active{
    border-color: #000;
}

.price-button{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    gap: 20px;
}

.price-button label{
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
}

/* footer */


footer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:10px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom:10px;
}

footer a:hover{
    color: var(--primary);
}

footer .copyright{
    width: 100%;
    text-align: center;
}


@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }

    .StyledNav {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 50px 20px;
        background-color: #222;
      }
      
      .StyledNav.active { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #222;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: ease 1s;
      }

    .nav-button{
        display: block;
    }

    .ProductsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-top: 20px;
    }

    .cart-columns-wrapper{
        display: block;
        margin-bottom: 20px;
        gap: 14px;
        margin-top: 10px;
    }

    .col-wrapper{
        display: block;
        gap: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .box{
        margin-bottom: 20px;
    }

    .ColumnsWrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .category-buttons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
    
    }
    

}
